MVC project/Connected Services/TicketService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Ticket" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AppService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicket_GetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickets" />
  </wsdl:message>
  <wsdl:message name="ITicket_GetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicket_GetTicketsByDocumentNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByDocumentNumber" />
  </wsdl:message>
  <wsdl:message name="ITicket_GetTicketsByDocumentNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByDocumentNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ITicket_GetTicketById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketById" />
  </wsdl:message>
  <wsdl:message name="ITicket_GetTicketById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITicket_PostTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTicket" />
  </wsdl:message>
  <wsdl:message name="ITicket_PostTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicket_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="ITicket_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicket_UpdateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicket" />
  </wsdl:message>
  <wsdl:message name="ITicket_UpdateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicket">
    <wsdl:operation name="GetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicket/GetTickets" message="tns:ITicket_GetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicket/GetTicketsResponse" message="tns:ITicket_GetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByDocumentNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicket/GetTicketsByDocumentNumber" message="tns:ITicket_GetTicketsByDocumentNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicket/GetTicketsByDocumentNumberResponse" message="tns:ITicket_GetTicketsByDocumentNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicket/GetTicketById" message="tns:ITicket_GetTicketById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicket/GetTicketByIdResponse" message="tns:ITicket_GetTicketById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicket/PostTicket" message="tns:ITicket_PostTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicket/PostTicketResponse" message="tns:ITicket_PostTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicket/DeleteTicket" message="tns:ITicket_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicket/DeleteTicketResponse" message="tns:ITicket_DeleteTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicket/UpdateTicket" message="tns:ITicket_UpdateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicket/UpdateTicketResponse" message="tns:ITicket_UpdateTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicket" type="tns:ITicket">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTickets">
      <soap:operation soapAction="http://tempuri.org/ITicket/GetTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByDocumentNumber">
      <soap:operation soapAction="http://tempuri.org/ITicket/GetTicketsByDocumentNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketById">
      <soap:operation soapAction="http://tempuri.org/ITicket/GetTicketById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTicket">
      <soap:operation soapAction="http://tempuri.org/ITicket/PostTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <soap:operation soapAction="http://tempuri.org/ITicket/DeleteTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <soap:operation soapAction="http://tempuri.org/ITicket/UpdateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ticket">
    <wsdl:port name="BasicHttpBinding_ITicket" binding="tns:BasicHttpBinding_ITicket">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Ticket/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>