MVC project/Connected Services/FlightService/AppService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlightsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightsDTO" nillable="true" type="tns:FlightsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightsDTO" nillable="true" type="tns:ArrayOfFlightsDTO" />
  <xs:complexType name="FlightsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardingTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gate" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfSeats" type="xs:int" />
      <xs:element minOccurs="0" name="Pilot" nillable="true" type="tns:UserDTO" />
      <xs:element minOccurs="0" name="TicketPrice" type="xs:double" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightsDTO" nillable="true" type="tns:FlightsDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:double" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
</xs:schema>