MVC project/Connected Services/FlightService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Flight" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AppService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlight_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IFlight_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlight_GetFlightsByDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsByDestination" />
  </wsdl:message>
  <wsdl:message name="IFlight_GetFlightsByDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsByDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IFlight_GetFlightsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsById" />
  </wsdl:message>
  <wsdl:message name="IFlight_GetFlightsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFlight_PostFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:PostFlight" />
  </wsdl:message>
  <wsdl:message name="IFlight_PostFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IFlight_DeleteFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlight" />
  </wsdl:message>
  <wsdl:message name="IFlight_DeleteFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IFlight_UpdateFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlight" />
  </wsdl:message>
  <wsdl:message name="IFlight_UpdateFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlight">
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlight/GetFlights" message="tns:IFlight_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlight/GetFlightsResponse" message="tns:IFlight_GetFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightsByDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlight/GetFlightsByDestination" message="tns:IFlight_GetFlightsByDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlight/GetFlightsByDestinationResponse" message="tns:IFlight_GetFlightsByDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlight/GetFlightsById" message="tns:IFlight_GetFlightsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlight/GetFlightsByIdResponse" message="tns:IFlight_GetFlightsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlight/PostFlight" message="tns:IFlight_PostFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlight/PostFlightResponse" message="tns:IFlight_PostFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlight/DeleteFlight" message="tns:IFlight_DeleteFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlight/DeleteFlightResponse" message="tns:IFlight_DeleteFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlight/UpdateFlight" message="tns:IFlight_UpdateFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlight/UpdateFlightResponse" message="tns:IFlight_UpdateFlight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlight" type="tns:IFlight">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="http://tempuri.org/IFlight/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightsByDestination">
      <soap:operation soapAction="http://tempuri.org/IFlight/GetFlightsByDestination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightsById">
      <soap:operation soapAction="http://tempuri.org/IFlight/GetFlightsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostFlight">
      <soap:operation soapAction="http://tempuri.org/IFlight/PostFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlight">
      <soap:operation soapAction="http://tempuri.org/IFlight/DeleteFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlight">
      <soap:operation soapAction="http://tempuri.org/IFlight/UpdateFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Flight">
    <wsdl:port name="BasicHttpBinding_IFlight" binding="tns:BasicHttpBinding_IFlight">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Flight/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>